.step2-message {
	color: $color-alert;
	text-align: center;
}

.step2__wizard {
	&:nth-child(1) {
		border: 2px solid red;
	}

}

.step2-form {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 13rem;

	@include query(900px) {
		width: 30%;
		.btn--secundary,
		.btn--principal,
		input[type=file] {
			width: 30%;
		}
	}
}
