.number {
	margin-bottom: $space-out-large;

	img {
		margin: 0 auto;
	}

	p {
		text-align: center;
	}
}

.steps__img {
	display: block;
	margin: 0 auto;
	padding: $space-base 0;
	width: 70px;

	@include query(768px) {
		margin: initial;
	}
}

.steps__text {
	text-align: center;

	@include query(768px) {	
		text-align: left;
	}
}